.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #facc15;
  padding: 15px;
}

.header a {
  text-decoration: none;
  color: #44403c;
  text-transform: uppercase;
  letter-spacing: 2px;
}
